{#include file="admin/tema/header.htm"#}

<p>{#lang('create_group_subheading')#}</p>



{#form_open("admin/auth/create_group")#}

      <p>
            {#lang('create_group_name_label', 'group_name')#} <br />
            {#form_input($group_name)#}<div id="error">{#form_error('group_name') #}</div><br>
      </p>

      <p>
            {#lang('create_group_desc_label', 'description')#} <br />
            {#form_input($description)#}<div id="error">{#form_error('description') #}</div><br>
      </p>

      <p>{#form_submit($button)#}</p>

{#form_close()#}

  {#include file="admin/tema/footer.htm"#}
