{#include file="admin/auth/header.htm"#}

<h1>{#lang('forgot_password_heading')#}</h1>
<p>{#sprintf(lang('forgot_password_subheading'), $identity_label)#}</p>



{#form_open("admin/auth/forgot_password")#}

      <p>
      	<label for="identity">{#(($type=='email') ? sprintf(lang('forgot_password_email_label'), $identity_label|string_format:"%s") : sprintf(lang('forgot_password_identity_label'), $identity_label|string_format:"%s"))#}</label> <br />
      	{#form_input($identity)#}<div id="error">{#form_error('identity') #}</div><br>
      </p>

      <p>{#form_submit($button)#}</p>

  {#form_close()#}

  {#include file="admin/auth/footer.htm"#}
