<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">



    <title>::Administrador de Contenidos::</title>
<link rel="shortcut icon" href="{#base_url()#}assets/admin/images/favicon.ico"/>
 <!-- Bootstrap Core CSS -->
    <link href="{#base_url()#}assets/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{#base_url()#}assets/admin/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{#base_url()#}assets/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


<style type="text/css">
#error {   
    color:#FF0000;   
}
</style>



</head>

  <body style="background-color:#fff;"">
 

<div class="container col-xs-2 col-md-4 col-lg-4">
	<!--	<a href="http://www.pedagogica.edu.co/"><img src="<?php echo base_url() ?>assets/images/branding.png" ></a>-->
    </div>
   
  <div class="container col-xs-8 col-md-4 col-lg-4" style="background-color:#fff;">

