{#include file="admin/auth/header.htm"#}

		<h2 class='form-signin-heading'>Reiniciar Contraseña</h2><br><br>

{#form_open('admin/auth/reset_password/'|cat:$code)#}

	<p>
		<label for="new_password">{#sprintf(lang('reset_password_new_password_label'), $min_password_length|string_format:"%s")#}</label> <br />
		{#form_input($new_password)#}<div id="error">{#form_error('new') #}</div><br>
	</p>

	<p>
		{#lang('reset_password_new_password_confirm_label', 'new_password_confirm')#} <br />
		{#form_input($new_password_confirm)#}<div id="error">{#form_error('new_confirm') #}</div><br>
	</p>

	{#form_input($user_id)#}
	{#form_hidden($csrf)#}

	<p>{#form_submit($button)#}</p>

{#form_close()#}

{#include file="admin/auth/footer.htm"#}
