<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{#$title#}</title>
    <link rel="shortcut icon" href="{#base_url()#}assets/admin/images/favicon.ico" />
    <!-- Bootstrap Core CSS -->
    <!--    <link href="<?php echo base_url() ?>assets/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="{#base_url()#}assets/admin/css/bootstrap-datetimepicker.css" rel="stylesheet" />	

    <link href="{#base_url()#}assets/admin/css/bootstrap.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->

    <!-- Custom Fonts -->
    <link href="{#base_url()#}assets/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{#base_url()#}assets/admin/css/overcast/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css"  />
    <script src="{#base_url()#}assets/admin/calendar/lib/jquery.min.js"></script>

    <script src="{#base_url()#}assets/admin/js/moment.js"></script>
    <script src="{#base_url()#}assets/admin/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{#base_url()#}assets/admin/js/jquery-ui-1.10.4.custom.min.js"></script>	
    <script src="{#base_url()#}libs/ckeditor/ckeditor.js"></script>
    <!--<script src="{#base_url()#}libs/ckfinder/ckfinder.js"></script>-->
    
    <script src="{#base_url()#}assets/js/jquery.validate.min.js"></script>
    <script src="{#base_url()#}assets/js/additional-methods.min.js"></script>
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>

<body>

 <H1>{#$title#}</H1>   


<p>{#$description#}</p>




<img src="{#base_url()#}userfiles/images/construccion.gif">

<a href="{#base_url()#}revista">revista</a>

<br><br><br><br>

<p>Version {#CI_VERSION#}</p>

</body>
</html>

